/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #0031f5;
  --ifm-color-primary-dark: #002cdd;
  --ifm-color-primary-darker: #002ad0;
  --ifm-color-primary-darkest: #0022ab;
  --ifm-color-primary-light: #0f3fff;
  --ifm-color-primary-lighter: #1b48ff;
  --ifm-color-primary-lightest: #4066ff;
}
[data-theme="dark"] {
  --ifm-color-primary: #81b0ee;
  --ifm-color-primary-dark: #619cea;
  --ifm-color-primary-darker: #5092e7;
  --ifm-color-primary-darkest: #2073e1;
  --ifm-color-primary-light: #a1c4f2;
  --ifm-color-primary-lighter: #b2cef5;
  --ifm-color-primary-lightest: #e2edfb;
}
